<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='viewport' content='user-scalable=yes' />
    <meta name='viewport' content='initial-scale=1.0' />

    <title>{{ site.title }} | {{ page.title }}</title>

    <link rel='stylesheet' href='/stylesheets/styles.css' type='text/css' media='screen,projection' />
  </head>

  <body>
    <header>
      <h1>{{ site.title }}</h1>
      <h2>{{ site.subtitle }}</h2>
      <nav>
        <ul>
          {% for link in site.data.links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </header>
    <article>
      <header>
        <h1>{{ page.title }}</h1>
      </header>
      {{ content }}
    </article>
  </body>
</html>
